body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.container {
    width: 1700px;
    background: white;
    padding: 0 80px;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height:100px;
}

.logo p {
    margin: 0;
}

.logo p:first-child {
    color: #8dcaff;
    font-family: 'Caprasimo', cursive;
    font-size:25px;
    text-transform:uppercase;
    margin: 10px;
}

.logo p:last-child {
    color: #999999;
    font-size:12px;
    font-style: italic;
    text-transform:uppercase;
    margin: 10px;
}

header .login ul {
    text-decoration:hidden;
}

.banner {
    background: url("../images/banner.png") no-repeat center center/cover;
    height: 10vw;
    display:flex;
    justify-content:start;
    align-items:center;
}

.banner p {
    margin: 200px;
    color:#896649;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight:bold;
}

header nav ul {
    #background:#e8f2f8;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #bad7e5;
    margin:0;
}

header nav li {
    list-style-type:none;
    border-right: 1px solid #bad7e5;
    border-left: 1px solid #bad7e5;
    padding: 10px 0;
    flex-basis: 100%;
    text-align:center;
    #border-radius: 0 0 10px 10px;
}

header nav ul li:first-child {
    border-left:none;
}
header nav ul li:last-child {
    border-right:none;
}

header nav ul li a {
    color: green;
    text-decoration: none;
    text-transform:uppercase;
}

.outline {
	padding: 20px;
	margin-bottom: 20px;
	#border: 3px solid black;
	#background: rgba(255,255,0, 0.2);
}

.column1, .column2, .column3 {
	min-height: 200px;
	margin-top: 20px;
}

.column1 img, .column2 img, .column3 img {
   height:700px;
   margin-left: 25px;
}

.service {
    font-family: Nantes;
    line-height: 1.2;
    font-weight: bold;
    font-size: 25px;
    color: #BC8452;
    text-align:center;
}

.column1 {
	float: left;
	width: 510px;
	margin-right: 10px;
}

.column2 {
	float: left;
	width: 510px;
	margin-right: 10px;
}

.column3 {
	float: left;
	width: 510px;
	margin-right: 10px;
}

h1 {
    font-family: Nantes;
    line-height: 1.2;
    font-weight: bold;
    font-size: 50px;
    color: #BC8452;
    text-align:center;
}

h2 {
    font-family: Nantes;
    line-height: 1.2;
    font-weight: bold;
    font-size: 30px;
    color: #D82E49;
    text-align:center;
}

h3 {
    font-family: Nantes;
    line-height: 1.2;
    font-weight: bold;
    font-size: 30px;
    color: #D82E49;
	font-style: italic;
}


.login {
	margin: 40px;
}

.login table tr td input:focus {
	background-color: #ecf5fa;
}






